html {
background-color: #ffe6f2;

}
.container {
background-color: #ffe6f2;
}

.image{
margin-top: 30px;
padding-top: 50px;
background-color: white;
padding-bottom: 50px;
margin-left: 70px;
margin-right: 70px;
}

.nav-link{
    color: violet;
font-family: helvetica, sans-serif;
}

.heading{
font-family: 'Syncopate', sans-serif;
  font-size: 50px;
}
.subhead{
font-size: 30px;
padding-top:0;
font-family: 'Syncopate', sans-serif;
}

.experience{
text-align: center;
font-size: 3em;
background-color:#adebad;

margin-top: 30px;
margin-bottom: 10px;
font-family: 'Syncopate', sans-serif;
}


.col-md-4{
background-color: #944dff;
margin-left: 20px;
margin-top:30px;
font-family: helvetica, sans-serif;
font-weight: bold;
}

.row{
  padding-top: 20px;
}


.container2{

  background-color: #ffffb3;
}

.eduhead{
margin-left: 10px;
background-color: violet;
font-family: 'Syncopate', sans-serif;
}

.skillhead{
margin-left: 25px;
background-color: #8080ff;
margin-right: 15px;
font-family: 'Syncopate', sans-serif;
}
.topper{
  padding-top: 30px;

}
.background-image{
  height: 50px;
}

.exp1{
margin-top: 30px;
  margin-left: 25px;
  margin-right: 35px;
  font-family: helvetica, sans-serif;
}
